*.DS_Store
img/drinks/cans/7up.jpg
img/drinks/cans/coca-cola.jpg
img/drinks/cans/diet-coke.jpg
img/drinks/cans/dr-pepper.jpg
img/drinks/cans/mirinda.jpg
img/drinks/cans/pepsi.jpg
img/drinks/cans/rio.jpg
img/drinks/cans/rubicon-guava.jpg
img/drinks/cans/rubicon-mango.jpg
img/drinks/cans/vimto.jpg
